<main>



  <section>
    <div class="over-hero bg-white-trans">
      <h1 class="px-5 text-center">Use your <span class="boldest color-red">failures</span><br class="d-xl-none"> to create success.</h1>
    </div>
    <div id="steps" class="parallax"></div>
  </section>




  <section class="container text-center py-5">
    <h2 class="pb-4">What We Do</h2>
    <div class="row">
      <div class="col-sm-4">
        <span class="h1 color-red">
          <i class="fas fa-microscope"></i>
        </span>
        <h4 class="mt-3 bold color-red">Research</h4>
        <p class="bold">
          There isn't enough empirical research on failure.
        </p>
        <p>
          Our primary objective is to map the metaphorical genome of failure to understand how failure works, why people react the way they do, and how to avoid the negative consequences of failure.
        </p>
      </div> <!-- col -->
      <div class="col-sm-4">
        <span class="h1 color-red">
          <i class="fas fa-book-open"></i>
        </span>
        <h4 class="mt-3 bold color-red">Knowledge</h4>
        <p class="bold">
          Research does no good unless people can access and understand it.
        </p>
        <p>
          In a world where the failure is one of the most common fears out there, <em>The Failure Project</em> aims to be a stockpile of information that helps people understand, analyze, and optimize the way they think about failure.
        </p>
      </div> <!-- col -->
      <div class="col-sm-4">
        <span class="h1 color-red">
          <i class="fas fa-graduation-cap"></i>
        </span>
        <h4 class="mt-3 bold color-red">Training</h4>
        <p class="bold">
          We teach people how to turn failures into learning that fuels success.
        </p>
        <p>
          Whether you're attempting to get over a preemptive fear of failure or you're dealing with a failure that already occurred, <em>The Failure Project</em> provides research-based training to help.
      </div> <!-- col -->
    </div>
  </section>



  <section class="red-stripe py-5">
    <h3 class="text-center">Want to Participate in Failure Research?</h3>
    <div class="floating-box p-5 my-4 color-black text-center">
      <%= render partial: "layouts/participant_signup" %>
    </div>
  </section>


</main>
