<section class="red-stripe p-5 mb-5">
  <h1 class="text-center narrow big">
    It is impossible to succeed without failing.
  </h1>
</section>

<section class="container">
  <h3 class="mb-5 text-center bold color-red">
    Learn how to weaponize good failures,
    <br>prevent catastrophic failure, and guarantee success.
  </h3>

  <div class="text-center floating-box p-5">
    <%= render partial: "layouts/coming_soon_form" %>
  </div>
</section>

<section class="red-stripe py-5 mt-5">
  <h2 class="text-center">Participate in Failure Research</h2>
  <div class="floating-box p-5 my-4 color-black text-center">
    <%= render partial: "layouts/participant_signup" %>
  </div>
</section>
