<main>
  <header class="text-center m-5">
    <h1 class="display-2 pt-3">Why failure?</h1>
    <h4>Because nothing great ever happened&nbsp;on&nbsp;the&nbsp;first&nbsp;try.</h4>
  </header>

  <section class="container px-5 px-md-0">
    <div class="row">

      <div class="col-xl-4 text-xl-center p-md-4 p-xl-3">
        <div class="row">
          <div class="col-md-4 col-xl-12 text-center px-4 mb-5">
            <%= image_tag "Blocks.jpg", class: "raised-photo" %>
          </div>

          <div class="col-md-8 col-xl-12">
            <p>
              True success, the kind that builds companies, changes lives, and feeds the soul never happens by accident.
            </p>
            <p>
              It is the result of thousands of hours of practice and an uncountable number of tiny failures that (when properly leveraged) create the learning that makes success possible.
            </p>
            <p>
              Simply said, you can't have success without first experiencing some kind of failure.
            </p>
          </div>
        </div>  <!-- row -->
      </div> <!-- big col -->


      <hr class="d-none d-md-block d-xl-none my-3">


      <div class="col-xl-4 text-xl-center p-md-4 p-xl-3">
        <div class="row">
          <div class="col-md-4 col-xl-12 text-center px-4 mb-5 order-md-last">
            <%= image_tag "Laptop.jpg", class: "raised-photo" %>
          </div>

          <div class="col-md-8 col-xl-12 order-md-first">
            <p>
              But why are some people affected so negatively by failure?
            </p>
            <p>
              What's the difference between those who can use their failures to build success and those who become depressed, stymied, or ultimately give up on their goals?
            </p>
            <p>
              What does it mean to be "failproof"?  What allows certain people to use their failures produvtively to accelerate growth?
            </p>
          </div>
        </div> <!-- row -->
      </div> <!-- big col -->


      <hr class="d-none d-md-block d-xl-none my-3">


      <div class="col-xl-4 text-xl-center p-md-4 p-xl-3">
        <div class="row">
          <div class="col-md-4 col-xl-12 text-center px-4 mb-5">
            <%= image_tag "Ladder.jpg", class: "raised-photo" %>
          </div>

          <div class="col-md-8 col-xl-12">
            <p>
              <em>The Failure Project</em> examines the qualities that make people "failproof" so that these skills can be intentionally developed and taught.
            </p>
            <p>
              By learning to leverage the small, productive failures, you can increase productivity, heighten goal achievement, and prevent the occurrance of catastrophic or unrecoverable failures from ever occurring.
            </p>
          </div>
        </div> <!-- row -->
      </div> <!-- big col -->

    </div>  <!-- row -->

  </section>



  <section class="red-stripe py-5">
    <h2 class="text-center">Participate in Failure Research</h2>
    <div class="floating-box p-5 my-4 color-black text-center">
      <%= render partial: "layouts/participant_signup" %>
    </div>
  </section>

</main>
