<main class="container my-5">
  <header class="text-center">
    <h1 class="big">Contact Us</h1>
    <p class="narrow">
      Want to know something you can't find on the site?  Have an idea to collaborate?  Want to get involved with <em>The Failure Project</em>?  Drop&nbsp;us&nbsp;a&nbsp;line!
    </p>
  </header>

  <section class="pt-3">
    <%= render 'form', contact: @contact %>
  </section>
</main>
