<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="not-button" id="menu-toggle">
    ❮
  </button>

  <%= link_to home_index_path, class: "navbar-brand ps-4" do %>
    <%= image_tag "Logo.png", style: "width: 100px" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse me-4" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tools</a>
      </li>
      <li class="nav-item ms-2">
        <a class="btn btn-sm mt-1 btn-red" href="#">Failproof Yourself</a>
      </li>
    </ul>
  </div>
</nav>







<script>
  $( document ).ready(function() {
    if ( window.screen.width <= 768 ) {
      $("#menu-toggle").text("❯");
    }
    $("#menu-toggle").click(function() {
      if ( $("#wrapper").hasClass("toggled") ) {
        $("#menu-toggle").text("❯");
      } else {
        $("#menu-toggle").text("❮");
      }
    });
  });
</script>
