<div class="container">
  <h1 class="text-center font-script color-pink">Edit Lead Magnet</h1>

  <%= render 'form', freebie: @freebie %>

  <div class="text-center">
    <%= link_to 'Admin Page', admin_freebies_path, class: "btn btn-pink btn-sm" %>
    <%= link_to 'Public Index', freebies_path, class: "btn btn-pink btn-sm" %>
  </div>
</div>
